@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-dark text-white overflow-x-hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f; 
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #4c1d95, #8b5cf6);
  border-radius: 5px;
  border: 2px solid #0f0f0f;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #6d28d9, #a78bfa);
}
